:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
}

/* ШАПКА */

.logo-left {
  color: var(--accent-color);
}

.logo {
  color: #000000;
}

.site-nav.link.current {
  color: var(--title-text-color);
}

/* .auth-nav {
} для розташування */

.contact-link {
  color: var(--primary-text-color);
}

.page-header :hover,
:focus {
  color: var(--accent-color);
}

/* Добавляє заголовкам стиль */

h1,
h2,
h3 {
  color: var(--title-text-color);
}

/* Секція 1 */

.hero {
  background-color: #2f303a;
}

.hero-txt {
  color: #ffffff;
}

.hero-button {
  background-color: var(--accent-color);
}

.hero-button-txt {
  color: #ffffff;
}

/* Секція 2 */

/* Секція 3 */

/* Секція 4 "Team" */

.team {
  background-color: #f5f4fa;
}

/* Підвал */

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
}

.adress-sity {
  color: #ffffff;
}

.mail,
.telf {
  color: rgba(255, 255, 255, 0.6);
}

.footer :hover,
:focus {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

/* колір основного тексту color: #757575 */

/* колір заголовків color: #212121 */

/* колір логотипу (ліва сторона) color: #2196F3 (права сторона) color: #000000  в підвалі (права сторона) color: #FFFFFF */

/* колір при наведенні (акцнет) color: #2196F3 */

/* додатковий колір color: #FFFFFF */
